.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/SpringApp.war
target/SpringApp/ppp.jsp
target/SpringApp/WEB-INF/classes/spring-config.xml
target/SpringApp/WEB-INF/classes/ua/com/studhero/database/Connector.class
target/SpringApp/WEB-INF/classes/ua/com/studhero/database/DataBaseConstants.class
target/SpringApp/WEB-INF/classes/spring-config.xml
target/SpringApp/ppp.jsp
target/SpringApp.war
target/SpringApp/WEB-INF/classes/spring-config.xml
*.class
target/SpringApp/WEB-INF/classes/spring-config.xml
*.war
.idea/workspace.xml
target/maven-archiver/pom.properties
.idea/workspace.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/spring-config.xml
target/classes/spring-config.xml
target/SpringApp.war