<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="ua.com.studhero"/>
    <jee:jndi-lookup id="dbDataSource"
                     jndi-name="jdbc/DatabaseConnectionPool"
                     expected-type="javax.sql.DataSource"/>

    <bean id="DBConnector" class="ua.com.studhero.database.impl.ConnectorImpl">
        <property name="dataSource" ref="dbDataSource">
        </property>
    </bean>

    <bean id="QueryExecutor" class="ua.com.studhero.database.impl.QueryExecutorImpl">
        <property name="connector" ref="DBConnector"/>
    </bean>

    <bean id="DBWorker" class="ua.com.studhero.database.impl.DataBaseWorkerImpl">
        <property name="queryExecutor" ref="QueryExecutor">
        </property>
    </bean>

    <bean id="SearchService" class="ua.com.studhero.services.impl.SearchServiceImpl">
        <property name="dataBaseWorker" ref="DBWorker">
        </property>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dbDataSource"/>
    </bean>

    <tx:annotation-driven proxy-target-class="true"
                          transaction-manager="transactionManager" />

    <bean id="multipartResolver"
                class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!-- setting maximum upload size -->
        <property name="maxUploadSize" value="500000000" />

    </bean>


</beans>